/****** Object:  Table [dbo].[tbl_FolderMapping]    Script Date: 9/14/2017 9:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_FolderMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OEMName] [nvarchar](255) NULL,
	[SoldTo] [varchar](255) NULL,
	[MLANumber] [nvarchar](255) NULL,
	[LinkToReport] [nvarchar](max) NULL,
	[DeletedYN] [bit] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](255) NULL,
	[PartnerType] [nvarchar](100) NULL
)

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_FolderMapping] ON 

INSERT [dbo].[tbl_FolderMapping] ([ID], [OEMName], [SoldTo], [MLANumber], [LinkToReport], [DeletedYN], [LastUpdatedOn], [LastUpdatedBy], [PartnerType]) VALUES (1, N'«Business Bureau» Company Limited', N'124581', N'5184090023', N'https://microsoft.sharepoint.com/teams/OEM_Pricing_Flexibility/Non Compliance Reports/NONTVO/«Business Bureau»/', 0, CAST(0x0000A7ED00C22590 AS DateTime), N'v-kipech', N'Non-TVO')
INSERT [dbo].[tbl_FolderMapping] ([ID], [OEMName], [SoldTo], [MLANumber], [LinkToReport], [DeletedYN], [LastUpdatedOn], [LastUpdatedBy], [PartnerType]) VALUES (2, N'ACER', N'A009', N'5179330030', N'https://microsoft.sharepoint.com/teams/OEM_Pricing_Flexibility/Non Compliance Reports/Acer/', 0, CAST(0x0000A7ED00C22590 AS DateTime), N'v-kipech', N'TVO')
INSERT [dbo].[tbl_FolderMapping] ([ID], [OEMName], [SoldTo], [MLANumber], [LinkToReport], [DeletedYN], [LastUpdatedOn], [LastUpdatedBy], [PartnerType]) VALUES (3, N'ACER INDIA (PVT) LTD.', N'119027', N'5179330085', N'https://microsoft.sharepoint.com/teams/OEM_Pricing_Flexibility/Non Compliance Reports/NONTVO/ACER INDIA (PVT) LTD/', 0, CAST(0x0000A7ED00C22590 AS DateTime), N'v-kipech', N'Non-TVO')
GO
SET IDENTITY_INSERT [dbo].[tbl_FolderMapping] OFF
